.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Video-element {
  width:  900px;
  height: 506px;
  border: 2px dotted white; /* You can adjust the border width and color as needed */
}

.Button-element {
  margin-top: 10px; /* menambahkan margin di atas tombol */
  padding: 10px 20px; /* menambahkan padding ke tombol */
  font-size: 16px; /* menyesuaikan ukuran font */
  background-color: #fff; /* menyesuaikan warna latar belakang */
  color: #000; /* menyesuaikan warna teks */
  border: none; /* menghapus border */
  border-radius: 5px; /* menambahkan sudut melengkung */
  cursor: pointer; /* mengubah kursor saat diarahkan ke tombol */
}

.Button-element:hover {
  background-color: wheat; /* menyesuaikan warna latar belakang saat dihover */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
